.Categories {
  border-right: 1px solid rgba(128, 128, 128, 0.527);
  .content {
    .pBlock {
      display: flex;
      flex-direction: column;
      gap: clamp(8px, 1.5vw, 20px);
      margin-top: 40px;

      p {
        font-size: clamp(5px, 1.5vw, 15px);
        cursor: pointer;
      }
    }
  }
}
