.Services {
  padding: 30px 0;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(10px, 2vw, 40px);
    // @media (max-width: 500px) {
    //   flex-direction: column;
    //   text-align: center;
    // }
    .block {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      img {
        width: clamp(30px, 6vw, 70px);
        height: clamp(30px, 6vw, 70px);
        margin-bottom: 15px;
      }
      h1 {
        font-size: clamp(5px, 1.5vw, 20px);
      }
      p {
        font-size: clamp(5px, 1.5vw, 17px);
      }
    }
  }
}
