.Footer {
  padding: 25px 0;
  height: 100%;
  background: black;
  .content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: clamp(15px, 3vw, 20px);
    @media screen and (max-width: 880px) {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .subs {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: clamp(5px, 1vw, 15px);
      h2 {
        font-size: clamp(9px, 4vw, 20px);
        color: #fff;
        margin-bottom: clamp(5px, 1vw, 15px);
      }
      h3 {
        font-size: clamp(7px, 3vw, 16px);
        letter-spacing: 0.5px;
        color: #fff;
        font-weight: 600;
      }
      p {
        width: clamp(89px, 10vw, 200px);
        line-height: clamp(18px, 7vw, 25px);
        font-size: clamp(8px, 2vw, 13px);
        color: #fff;
        font-weight: 500;
        a {
          color: #fff;
        }
      }
      .sub {
        width: clamp(80px, 18vw, 190px);
        height: clamp(8px, 6vw, 30px);
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(2px, 1vw, 8px);
        span {
          color: #fff;
          font-size: clamp(9px, 3vw, 20px);
          svg {
            cursor: pointer;
          }
        }
        input {
          width: clamp(58px, 8vw, 170px);
          font-size: clamp(6px, 2vw, 13px);
          border: none;
          outline: none;
          padding: 0 clamp(3px, 1vw, 10px);
          background: black;
          color: #fff;
        }
      }
    }
    .account {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: clamp(3px, 4vw, 20px);
      h3 {
        font-size: clamp(7px, 3vw, 16px);
        letter-spacing: 0.5px;
        color: #fff;
        font-weight: 600;
      }
      p {
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: clamp(8px, 2vw, 13px);
        color: #fff;
      }
      a {
        color: #fff;
      }
    }
    .app {
      display: flex;
      justify-content: start;
      flex-direction: column;
      gap: clamp(3px, 4vw, 15px);
      h3 {
        font-size: clamp(7px, 3vw, 16px);
        letter-spacing: 0.5px;
        color: #fff;
        font-weight: 600;
      }
      p {
        color: rgb(202, 201, 201);
        font-size: clamp(5px, 2vw, 13px);
      }
      .ustanov {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(6px, 3vw, 15px);
        img {
          width: clamp(80px, 6vw, 90px);
          height: auto;
          background: #fff;
        }
        .down {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          gap: clamp(2px, 3vw, 10px);
          .apple {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: clamp(3px, 2vw, 10px);
            width: clamp(120px, 20vw, 125px);
            height: clamp(20px, 9vw, 40px);
            border: 1px solid gray;
            border-radius: clamp(3px, 3vw, 8px);
            span {
              svg {
                color: #fff;
                font-size: clamp(15px, 5vw, 27px);
              }
            }
            .ap {
              display: flex;
              flex-direction: column;
              gap: 5px;
              p {
                color: #fff;
                font-size: clamp(6px, 2vw, 10px);
              }
              h2 {
                color: #fff;
                font-size: clamp(7px, 2vw, 13px);
              }
            }
          }
          .me {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: clamp(3px, 2vw, 10px);
            width: clamp(120px, 20vw, 125px);
            height: clamp(20px, 9vw, 40px);
            border: 1px solid gray;
            border-radius: clamp(3px, 3vw, 8px);
            img {
              background: none;
              width: clamp(15px, 5vw, 27px);
              height: auto;
            }
            .play {
              display: flex;
              flex-direction: column;
              gap: 5px;
              p {
                color: #fff;
                font-size: clamp(6px, 2vw, 10px);
              }
              h2 {
                color: #fff;
                font-size: clamp(7px, 2vw, 13px);
              }
            }
          }
        }
      }
      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(25px, 8vw, 35px);
        cursor: pointer;
        span {
          svg {
            font-size: clamp(15px, 7vw, 25px);
            color: #fff;
          }
        }
      }
    }
  }
}

.two {
  display: flex;
  gap: 70px;
}

.two1 {
  display: flex;
  gap: 90px;
}
